body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:685px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1472 {
  position:absolute;
  left:20px;
  top:65px;
  width:375px;
  height:685px;
}
#u1473 {
  position:absolute;
  left:2px;
  top:334px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1474 {
  position:absolute;
  left:20px;
  top:10px;
  width:375px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
}
#u1475 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  word-wrap:break-word;
}
#u1476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1476 {
  position:absolute;
  left:20px;
  top:10px;
  width:55px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1477 {
  position:absolute;
  left:0px;
  top:18px;
  width:55px;
  word-wrap:break-word;
}
#u1478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1478 {
  position:absolute;
  left:42px;
  top:75px;
  width:40px;
  height:40px;
}
#u1479 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1480 {
  position:absolute;
  left:99px;
  top:76px;
  width:29px;
  height:16px;
}
#u1481 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1482 {
  position:absolute;
  left:99px;
  top:98px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u1483 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:2px;
}
#u1484 {
  position:absolute;
  left:42px;
  top:128px;
  width:328px;
  height:1px;
}
#u1485 {
  position:absolute;
  left:2px;
  top:-8px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1486 {
  position:absolute;
  left:320px;
  top:70px;
  width:50px;
  height:50px;
}
#u1487 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1488 {
  position:absolute;
  left:42px;
  top:146px;
  width:175px;
  height:16px;
  font-size:13px;
}
#u1489 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  white-space:nowrap;
}
#u1490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1490 {
  position:absolute;
  left:42px;
  top:172px;
  width:175px;
  height:16px;
  font-size:13px;
}
#u1491 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  white-space:nowrap;
}
#u1492_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1492 {
  position:absolute;
  left:42px;
  top:198px;
  width:126px;
  height:16px;
  font-size:13px;
}
#u1493 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u1494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1494 {
  position:absolute;
  left:42px;
  top:224px;
  width:326px;
  height:32px;
  font-size:13px;
}
#u1495 {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  white-space:nowrap;
}
#u1496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1496 {
  position:absolute;
  left:42px;
  top:276px;
  width:50px;
  height:50px;
}
#u1497 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1498_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1498 {
  position:absolute;
  left:111px;
  top:276px;
  width:50px;
  height:50px;
}
#u1499 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1500_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1500 {
  position:absolute;
  left:181px;
  top:276px;
  width:50px;
  height:50px;
}
#u1501 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1502_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1502 {
  position:absolute;
  left:250px;
  top:276px;
  width:50px;
  height:50px;
}
#u1503 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1504_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:386px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1504 {
  position:absolute;
  left:21px;
  top:364px;
  width:373px;
  height:386px;
}
#u1505 {
  position:absolute;
  left:2px;
  top:185px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1506_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:257px;
}
#u1506 {
  position:absolute;
  left:55px;
  top:356px;
  width:1px;
  height:256px;
}
#u1507 {
  position:absolute;
  left:2px;
  top:120px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:20px;
}
#u1508 {
  position:absolute;
  left:42px;
  top:375px;
  width:25px;
  height:25px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:20px;
}
#u1509 {
  position:absolute;
  left:0px;
  top:4px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1510 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1511 {
  position:absolute;
  left:82px;
  top:366px;
  width:300px;
  height:60px;
}
#u1512 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1513_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1513 {
  position:absolute;
  left:93px;
  top:377px;
  width:35px;
  height:35px;
}
#u1514 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1515_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1515 {
  position:absolute;
  left:133px;
  top:377px;
  width:66px;
  height:16px;
  font-size:13px;
}
#u1516 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u1517 {
  position:absolute;
  left:133px;
  top:395px;
  width:91px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u1518 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u1519_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1519 {
  position:absolute;
  left:314px;
  top:375px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u1520 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1521 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1522_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1522 {
  position:absolute;
  left:82px;
  top:446px;
  width:300px;
  height:78px;
}
#u1523 {
  position:absolute;
  left:2px;
  top:31px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1524 {
  position:absolute;
  left:93px;
  top:457px;
  width:35px;
  height:35px;
}
#u1525 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1526 {
  position:absolute;
  left:133px;
  top:457px;
  width:60px;
  height:16px;
  font-size:13px;
}
#u1527 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u1528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u1528 {
  position:absolute;
  left:133px;
  top:475px;
  width:91px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u1529 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u1530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1530 {
  position:absolute;
  left:343px;
  top:455px;
  width:27px;
  height:16px;
  font-size:13px;
}
#u1531 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1532 {
  position:absolute;
  left:93px;
  top:500px;
  width:109px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u1533 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1534 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1535 {
  position:absolute;
  left:83px;
  top:541px;
  width:300px;
  height:60px;
}
#u1536 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1537_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1537 {
  position:absolute;
  left:94px;
  top:552px;
  width:35px;
  height:35px;
}
#u1538 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1539 {
  position:absolute;
  left:134px;
  top:561px;
  width:60px;
  height:16px;
  font-size:13px;
}
#u1540 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u1541_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1541 {
  position:absolute;
  left:332px;
  top:559px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u1542 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1543_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:20px;
}
#u1543 {
  position:absolute;
  left:43px;
  top:464px;
  width:25px;
  height:25px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:20px;
}
#u1544 {
  position:absolute;
  left:0px;
  top:4px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1545_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:20px;
}
#u1545 {
  position:absolute;
  left:43px;
  top:554px;
  width:25px;
  height:25px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:20px;
}
#u1546 {
  position:absolute;
  left:0px;
  top:4px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1547_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1547 {
  position:absolute;
  left:33px;
  top:712px;
  width:110px;
  height:31px;
}
#u1548 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u1549_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1549 {
  position:absolute;
  left:153px;
  top:712px;
  width:110px;
  height:31px;
}
#u1550 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u1551_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1551 {
  position:absolute;
  left:273px;
  top:712px;
  width:110px;
  height:31px;
}
#u1552 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u1553_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1553 {
  position:absolute;
  left:45px;
  top:719px;
  width:18px;
  height:18px;
}
#u1554 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1555_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1555 {
  position:absolute;
  left:163px;
  top:719px;
  width:18px;
  height:18px;
}
#u1556 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1557_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1557 {
  position:absolute;
  left:293px;
  top:719px;
  width:18px;
  height:18px;
}
#u1558 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
